Requirements and procedures to run Sunshine App
* Make sure you have iPhone X or newer
* Ensure IOS version is iOS 13 or newer
* Clone my repository from GitHub
* Send me an email at marcus.2188@gmail.com  -> for me to send over the extra /Resources folder to you.
* Make sure the Resources folder is placed inside Sources/App
* Run the Xcode project file and see the results
