Requirements and procedures to run Sunshine App
* Make sure you have iPhone X or newer
* Ensure IOS version is iOS 13 or newer
* Clone my repository from GitHub
* Unzip the compressed file “Resources.zip” using the password given by me as per request
* Make sure the Resources folder is inside Sources/App
* Run the Xcode project file and see the results